body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px; /* Larger size for your name */
    margin: 0;
}

.designation {
    font-size: 24px; /* One size smaller for the designation */
    margin-top: 5px; /* Adjust space between name and designation */
    color: #006400; /* Optional: dark green color for the designation */
}

header img {
    margin-top: 10px;
    border-radius: 50%; /* Optional: for a circular image */
}

section {
    padding: 20px;
}

section#about {
    background-color: #fff;
    margin: 20px 0;
}

section#projects ul {
    list-style: circle;
    padding: 0;
}

section#projects li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
